<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	    <script>
	      moment().format();
	    </script>
	    <link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-8">
					<h1 id="mainTitle"><img src="images/S-logo.png">pirit</h1>
				</div>
				<div class="col-xs-3">
					<div id="options"><span class="glyphicon glyphicon-cog"></span></div>
						<div id="menuOptions">
							<div class="singleOption">Profile</div>
							<div class="singleOption">Options</div>
							<a href="/logout"><div class="singleOption">Logout</div></a>
						</div>
				</div>
			</div>
			<div class="row" id="animalArea">
				<div class="row" id="animalStats">
					<div class="col-sm-3" id="animalTitle">
						<div id="animalSpecies"></div>
							<div id="levelAndVariety">Lvl.1 Spicy</div>
					</div>
					<div class="col-sm-4 col-sm-offset-1" id="energySection">
						<div id="energyTitle">Energy</div>
						<div id="hungerMeter">
							<div id="hungerMeterFill"></div>
						</div>
					</div>
				</div>
				<div class="row" id="animalThoughtBubble">
				</div>
				<div class="row">
					<div class="col-xs-6 col-xs-offset-4" id="body">
						<canvas id="canvasDiv" width="400" height="400"></canvas>
					</div>
					<div class="col-xs-2 col-xs-offset-1" id="itemSection">
						<div class="row" id="itemSlotRow1">
							<div class="itemSlot" id="apples"><img class="itemIcon" src="images/food/apple.png"><span id="itemSlot0"></span></div>
						</div>
						<div class="row" id="itemSlotRow2">
							<div class="itemSlot" id="carrots"><img class="itemIcon" src="images/food/carrot.png"><span id="itemSlot1"></span></div>
						</div>
						<div class="row" id="itemSlotRow3">
							<div class="itemSlot" id="cupcakes"><img class="itemIcon" src="images/food/cupcake.png"><span id="itemSlot2"></span></div>
						</div>
						<div class="row" id="itemSlotRow4">
							<div class="itemSlot" id="steaks"><img class="itemIcon" src="images/food/steak.png"><span id="itemSlot3"></span></div>
						</div>
					</div>
				</div>
				<div class="row" id="actionButtonsRow">
					<div class="col-xs-3 actionButton" id="food">Food</div>
					<div class="col-xs-3 actionButton" id="play">Play</div>
					<a href="./forage"><div class="col-xs-3 actionButton" id="forage">Forage</div></a>
					<div class="col-xs-3 actionButton" id="trade">Trade</div>
				</div>
			</div>
		</div>
	</body>
	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
	<script>
 		$("#startbtn").click(function(){
  			walk.style.animation = "walk-east 2.0s steps(3) infinite";
		});
 
		$("#stopbtn").click(function(){
		 	walk.style.animation = "paused";  
		});
		(function($) {
		  $(function() {
		   $("stopwalk").click(function() {
		    $("stopbtn").addClass("off");
		   });
		  });
		})
	</script>	 
	<script type="text/javascript" src="javascript/logic.js"></script>
</html>	