<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spirit Animal Quiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/landingstyle.css">
   <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
</head>
   <body>
      <!-- Background Carousel -->
      <div id="background-carousel">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
            <div class="carousel-inner">
              <div class="item active" style="background-image:url(images/landing/pexels-photo-302304.jpeg)"></div>
              <div class="item" style="background-image:url(images/landing/wolf-torque-wolf-moon-cloud-45242.jpeg)"></div>
              <div class="item" style="background-image:url(images/landing/pexels-photo-236636.jpeg)"></div>
              <div class="item" style="background-image:url(images/landing/lion-wild-africa-african.jpg)"></div>
            </div>
        </div>
      </div>

    <div class="container">
      <div class="row">
        <div class="jumbotron" id="tagLine">
          <h1 class="text-center animation-target" id="titleLine">What's Your Spirit Animal</h1>
        </div>
      </div>

      <div class="row">
        <div id=buttons>
          <button class="btn btn-success submit" id="signIn" type="submit">Sign In!</button>
          <button class="btn btn-success submit" id="signUp" type="submit">Sign Up!</button>
        </div>

        <form method="POST" action="/login" id="loginForm">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="username">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button class="btn btn-danger" id="closeLoginButton">Close</button>
        </form>

        <form method="POST" action="/register" id="registerForm">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="passoword">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="username">Re-Enter Password</label>
            <input type="password" name="passwordMatch" class="form-control" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button class="btn btn-danger" id="closeRegisterButton">Close</button>
        </form>

      </div>


      <Footer> &copy; 2017 Spirit Animal</Footer>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script>
    moment().format();
  </script>
  <script type="text/javascript" src="javascript/landing.js"></script>

</html>