body {
	background: #4a300f;
}

#mainTitle {
	color: white;
	text-align: center;
	font-stretch: expanded;
}
#animalArea {
	background: url("http://www.misucell.com/data/out/9/IMG_359630.png");
	background: lightgrey;
	background: url("https://wallpapercave.com/wp/NRZITrZ.jpg");
	background-position: 20% 50%;
}

#actionButtonsRow {
	background: tan;
	padding-left: 33%;
}

.actionButton {
	color: black;
	background: green;
	text-align: center;
	padding-top: 10px;
	height: 50px;
	width: 70px;
	float: left;
	font-weight: bold;
	font-size: 18px;
	margin: 5px 15px 5px 15px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
}

.actionButton:hover {
	color: white;
	border-color: white;
}

#animalThoughtBubble {
	background: white;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	height: 50px;
	width: 260px;
	margin-left: 36%;
	text-align: center;
	font-size: 18px;
}

#spiritAnimal {
	background: red;
	height: 300px;
	width: 260px;
	margin-left: 40%;
	margin-top: 10px;
	border-width: 5px;
	border-style: solid;
	border-color: green;
}

#hungerMeter {
	height: 30px;
	width: 75%;
	border-style: solid;
	border-color: black;
	border-width: 3px;
}

#hungerMeterFill {
	background: green;
	height: 24px;
	width: 100%;
}

#options {
	text-align: right;
	font-size: 35px;
	margin-right: 10px;
}

.glyphicon {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	padding-top: 1px;
	padding-left: 1px;
}

.glyphicon:hover {
	border-color: white;
}

#animalStats {
	margin-top: 20px;
	height: 120px;
}

#animalTitle {
	font-size: 24px;
	font-weight: bold;
	margin-left: 30px;
}

.animalSpecies {
	margin: 0px;
}

.levelAndVariety {
	font-size: 18px;
	padding-left: 15px;
}

.itemSlot {
	background: white;
	height: 65px;
	width: 65px;
	border-style: solid;
	border-color: #6f4528;
	border-width: 6px 4px 6px 4px;
	float: left;
}

#itemSlotRow {
	margin-top: 100%;
	display: none;
}

.itemIcon {
	height: 35px;
	width: 35px;
	margin-left: 5px;
	margin-top: 5px;
}

#menuOptions {
	width: 50px;
	margin-right: 0px;
	float: right;
	display: none;
}

#energyTitle {
	font-size: 20px;
	font-weight: bold;
}

.singleOption {
	font-weight: bold;
}

.singleOption:hover {
	color: white;
}

#canvasDiv {
}

#registerForm {
	
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}