body {
	background: #2d2d2d;
}

#mainTitle {
	color: white;
	text-align: center;
	font-stretch: expanded;
}

#animalArea {
	background: url("https://wallpapercave.com/wp/NRZITrZ.jpg");
	background-position: 20% 50%;
	border-radius: 5px;
	box-shadow: 0px 0px 20px white;
	font-family: 'Averia Sans Libre', cursive;
}

#actionButtonsRow {
	background: #afafaf;
	padding-left: 33%;
	border-width: 5px 0px 0px 0px;
	border-style: solid;
	border-color: black;
}

.actionButton {
	color: black;
	background: #a7c5e6;
	text-align: center;
	padding-top: 10px;
	height: 50px;
	width: 90px;
	float: left;
	font-weight: bold;
	font-size: 18px;
	margin: 5px 15px 5px 15px;
	border-style: solid;
	border-color: #1998ff;
	border-width: 3px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px white;
}

.actionButton:hover {
	color: white;
	border-color: white;
}

#animalThoughtBubble {
	background: white;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	height: 50px;
	width: 270px;
	margin-left: 38%;
	text-align: center;
	font-size: 18px;
}

#spiritAnimal {
	background: red;
	height: 300px;
	width: 260px;
	margin-left: 40%;
	margin-top: 10px;
	border-width: 5px;
	border-style: solid;
	border-color: green;
}

#hungerMeter {
	background: black;
	height: 30px;
	width: 300px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 4px;
}

#hungerMeterFill {
	background: green;
	height: 24px;
	width: 100%;
}

#options {
	color: white;
	text-align: right;
	font-size: 35px;
	margin-right: 10px;
	margin-top: 20px;
}

.glyphicon {
	border-style: solid;
	border-color: grey;
	border-width: 2px;
	border-radius: 5px;
	padding-top: 1px;
	padding-left: 1px;
}

.glyphicon:hover {
	border-color: white;
}

#animalStats {
	margin-top: 20px;
}

#animalTitle {
	font-size: 24px;
	font-weight: bold;
	margin-left: 30px;
}

.animalSpecies {
	margin: 0px;
}

.levelAndVariety {
	font-size: 18px;
	padding-left: 15px;
}

.itemSlot {
	background: white;
	height: 65px;
	width: 65px;
	border-style: solid;
	border-color: #6f4528;
	border-width: 6px 4px 6px 4px;
	float: left;
}

#itemSection {
	width: auto;
	display: none;
}

.itemIcon {
	height: 35px;
	width: 35px;
	margin-left: 5px;
	margin-top: 5px;
}

#menuOptions {
	width: 50px;
	margin-right: 0px;
	float: right;
	display: none;
}

#energyTitle {
	font-size: 20px;
	font-weight: bold;
}

.singleOption {
	font-weight: bold;
}

.singleOption:hover {
	color: white;
}

#canvasDiv {
}

#registerForm {
	
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

#catDisplay {
	display: none;
}

#walk {
	 background:url(../images/cat.png);
	 width: 325px;
	 height: 307px;
	 
}


 @-webkit-keyframes walk-east{
     0% {background-position: 0px; }
     100% {background-position: -1024px; }
}
}
 @keyframes walk-east {
     0% {background-position: 0px; }
     100% {background-position: -1024px; }
 }

 @media only screen and (max-width: 500px) {

	#animalThoughtBubble{
		margin-left: 10%;
		margin-top: 5px;
	}

	#energySection {
		margin-left: 40px;
	}

	#animalStats {
		margin-top: 0px;
	}

	#actionButtonsRow {
		padding-left: 0px;
	}

	.actionButton {
		font-size: 18px;
		width: 90px;
		margin: 3px;
	}

 }